/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */




.master-wrapper {
    margin: 0 auto;
    max-width: 878px;
}
.header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 70px;
    width: 878px;
    background-color: #fff;
}

.nav {
    flex: 1;
    display: flex;
}

.nav li {
    list-style-type: none;
    margin-right: 60px;
}

.nav li a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: .9rem;
    transition: color .3s ease-in;
}
.nav li a:hover {
    color: black;
}

.logo {
    flex: 1;
    margin-left: 15px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    width: 183px;
    height: 36px;
}

.hero--wrapper {
    padding: 120px 0 55px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.hero {
    width: 300px;
}
.hero h1 {
    font-size: 4.8rem;
}

.img-header {
    background-image: url('../img/header-img.png');
    background-repeat: no-repeat;
    height: 379px;
    width: 379px;
    display: block;
}

.btn{
    width: 175px;
    font-size: 1rem;
    background-color: transparent;
    padding: 5px;
    border: 1px solid black;
    margin: 20px;
    transition: background .2s ease-in;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
    color: #fff;
}

.break-line--top {
    height: 2px; 
    width: 100%; 
    background-color: black;
    margin-bottom: 40px; 
}

.topics-top {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.topic:not(.vision) {
    padding-bottom: 30px;
}

.middle-img {
    background-image: url('../img/mid-page-accent.jpg');
    width: 100%;
}

.features, .about {
    width: 48%;   
}

.topics-bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 0 0px;
}

.services, .product, .vision {
    width: 30%;
}

.break-line--bottom {
    margin-bottom: 40px; 
    margin-top: 16px;
    height: 2px; 
    width: 100%; 
    background-color: black;
}

.copyright {
    text-align: center;
    padding: 45px 0 20px 0;
}

/***************  MEDIA 800PX ******************/

@media(max-width: 800px){

    .topic--wrapper {
        margin: 0 auto;
        width: 90%;
    }
    .img-header {
        display: none;
    }

    .header {
        height: 120px;
        padding-top: 14px;
        position: static;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .nav {
        order: 1;
        
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .nav li {
        margin-right: 0;
    }

    .logo--container { 
        display:flex;
        align-items: center;
        height: 75px;
        margin-bottom: 14px;
    }
    .hero--wrapper{
        padding-top: 80px;
        text-align: center;
    }
    .hero {
        margin: 0 auto;
        width: 300px;
    }
    .hero h1 {
        font-size: 4.8rem;

    }
    .btn:hover{
        background-color: #fff;
        color: black;
    }
    .nav li a:hover {
        color: #b3b3b3;
    }
}
