/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */



.header {
    display: flex;
    flex-direction: column;
}
.nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  order: 1;
}
.nav li {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 20px 0px;
    list-style-type: none;
}
.nav li:nth-child(1){
    border-top: 1px solid black;
}
.nav li a{
    align-items: center;
    text-decoration: none;
    color: #b3b3b3;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo--container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    order: 0;
}
.logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    width: 183px;
    height: 36px;
}


.hero--wrapper {
    padding: 55px 0 55px 0;
}
.hero {
    margin: 0 auto;
    width: 57%;
    text-align: center;
}
.hero h1 {
    font-size: 4.5rem;
}
.btn{
    width: 175px;
    font-size: 1rem;
    background-color: transparent;
    padding: 5px;
    border: 1px solid black;
    margin: 20px;
}

.break-line--top {
    height: 2px; 
    width: 100%; 
    background-color: black;
    margin-bottom: 40px; 
}
.break-line--bottom {
    height: 2px; 
    width: 100%; 
    background-color: black; 
    margin-bottom: 40px; 
    margin-top: 50px;
}


.img-header{
    background-image: url('../img/header-img.png');
    background-repeat: no-repeat;
    height: 379px;
    width: 379px;
    display: none;
}

.topic--wrapper {
    margin: 0 auto;
    width: 90%;
}

.topic:not(.vision) {
    padding-bottom: 50px;
}
.topic.services{
    padding-top: 30px;
}

.middle-img {
    background-image: url('../img/mid-page-accent.jpg');
    width: 100%;
}

.copyright {
    text-align: center;
    padding: 45px 0 20px 0;
}


/***************  MEDIA 400PX ******************/
@media(max-width: 400px){
    .hero {
        width: 80%;
    }
    .hero h1 {
        font-size: 4rem;
    }
}


/***************  MEDIA 760PX ******************/
@media(min-width: 760px){
    .nav {
        flex-direction: row;
    }
    .nav li {
        border-bottom: none;
    }
    .nav li a {
        font-size: .9rem;
    }
    .nav li:nth-child(1){
        border-top: none;
    }
    .hero h1 {
        font-size: 4.8rem;
    }
    .hero {
        width: 300px;
    }
    .topics-top{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .features, .about {
        width: 48%;   
    }
    .topic:not(.vision) {
        padding-bottom: 20px;
    }
    .topics-bottom {
        display: flex;
        justify-content: space-between;
        padding: 30px 10px 0 10px;
    }
    .topic.services{
        padding-top: 0px;
    }
    .services, .product, .vision {
        width: 30%;
    }
    .break-line--bottom {
        margin-bottom: 40px; 
        margin-top: 16px;
    }
}

/***************  MEDIA 980PX ******************/

@media(min-width: 980px){
    .master-wrapper {
        margin: 0 auto;
        max-width: 878px;
    }
    
   
    .header {
        position: fixed;
        height: 70px;
        width: 878px;
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
    }

    .nav {
        order: 0;    
    }
    .nav li {
        margin-right: 60px;
    }
    .nav li a {
        color: #b3b3b3;
        transition: color .3s ease-in;
    }
    .nav li a:hover{
        color: black;
    }

    .logo {
        flex: 1;
        margin-left: 15px;
    }
    
    .topic--wrapper{
        width: 100%;
    }

    .hero--wrapper {
        padding-top: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .img-header {
        display: block;
    }

    .btn {
        transition: background .2s ease-in;
        cursor: pointer;
    }
    .btn:hover{
        background-color: black;
        color: #fff;
    }
}